<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="HTML-To-CSS.css">
</head>
<body>

    <header>
        <nav>

            <pre class="pre">
                <ul>
  <li> <a href="">Home</a>   |</li> 
  <li> <a href="">About</a>  |</li>
  
                </ul>
            </pre>

        </nav>
    </header>
    
    <main>

        <section class="section1">

        </section>

    </main>

    <footer>
  <ul>
    <li><a href="">contact</a></li>
    <li><a href="">My Website</a></li>
  </ul>
    </footer>

</body>
</html>