div{
    height: 25px;
    width: 10%;
    padding: 10px;
    margin: 5px;
    background-color: aqua;
    border-width: 5px;
    border-style: double;
    border-color: rgb(236, 38, 64);


}
h1{
    border: 5px;
    border-style: groove;
    width: 100%;
    height: 50px;
    border-color:rgb(255, 234, 0);
    text-align: center;
    padding:5px;
    margin-bottom: 10px;
}
p{
    border: 5px solid purple;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}

#D{
    width:100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    padding: 25px 25px 25px 25px;
    margin-top: 20px;
    border: 10px solid black;
    
}