body {
    background: url("171388.gif") center no-repeat;
    width: 100%;
    background-size: cover; 
    height: 50vh; 
}

#lorem {
    text-align: justify;
    width: 100%;
    margin: auto;
    font-size: large;
    background-color: rgb(150, 200, 120, 0.6);
    padding: 20px;
    border-radius: 70px;

} 