h3{
    color:blueviolet;
}

button{
    color: royalblue;
    background-color: rgb(53, 32, 192);
}

body{
    background-color: rgb(255, 150, 0);
}

h1{
    background-color: #ffff00;
}

#Link{
    background-color: #efae96;
}

*{
    font-family: 'Courier New', Courier;
}